.banner {
    background: url("images/banner.png.jpg") no-repeat center center;
    background-size: cover; /*Hình ảnh có thể bị cắt để lấp đầy toàn bộ phần tử*/
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: white; !important;
}
.slogan {
    background-color: rgb(230, 240, 250) !important;
    text-align: center !important;
 	width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.slogan-h2{
    font-size: 120%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;  
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
}
.block_3 {
    flex: 0 0 auto;
    width: 33.33333%;
}
div#b3a:hover{
    font-size: 120%;
    color: red;
}
div#b3b:hover{
    font-size: 120%;
    color: red;
}
div#b3c:hover{
    font-size: 120%;
    color: red;
}
table
{
	width: 90%;
	margin: 0 auto;
}
.cell_img {
	width: 50%;
}
.cell_text {
	width: 50%; padding-left: 5rem;
}
.img {
	width: 100%; 
	height: 100%;
}
.img_tv {
    width: 50%; 
    height: 50%;
    /*text-align: center;*/
    margin: 0 auto;
}
.menu {
	font-size:120%; 
	text-decoration: none;
}
.cell {
	text-align: justify; 
	padding: 1.5em;
}
footer {
	background-color: lightgrey; 
	margin: 1px; 
	padding: 10px;
}
.link {
	color: navy; 
	text-align: left;
}
a:hover{
    color: magenta;

}
.cell_text h3 {
    color: #4a6cf7;
    font-size: 1.5rem;
}

.cell_text p {
    font-size: 1.05rem;
    line-height: 1.8;
}

/* ===== ẢNH ===== */
.img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.img_tv {
    width: 45%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* ===== MENU ===== */
.menu {
    font-size: 130%;
    text-decoration: none;
    font-weight: 600;
}

/* ===== CELL ===== */
.cell {
    text-align: justify;
    padding: 1.8em;
}

/* ===== LINK ===== */
.link {
    color: #4a6cf7;
    text-align: left;
    font-weight: 500;
}

a:hover {
    color: #ff6b6b;
}

/* ===== FOOTER ===== */
footer {
    background-color: #4a6cf7;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

